<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.nsu.fit.nsuschedule">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".NsuScheduleApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar.Transparent"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CrashCatchActivity"></activity>

        <activity
            android:name=".activity.ScheduleActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".api.ApiService"
            android:enabled="true" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNews" />

        <activity
            android:name=".activity.AcademActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAcadem" />

        <activity
            android:name=".activity.SingleNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNews" />

        <activity
            android:name=".activity.PlaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAcadem" />
    </application>

</manifest>
